.search-section{
    width: 100%;
    background-size: cover;
    background-position: 0% 50%;
    padding: 10px;
    @include default-font;
    background-image: url("/img/backgrounds/search-bg.jpg");
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .searchbar{
            display: flex;
            width: 40%;
            border-radius: 0.4em;
            overflow: hidden;
            .searchbar-text{
                width: 95%;
                padding: 15px;
            }
            

            .searchbar-text, .searchbar-btn {
                border: none;
                background-color: $light;
                outline: none;
            }

            .searchbar-btn{
                width: 5%;
                padding: 0px;
                font-size: 1rem;
                // background-color: red;
                min-width: 4em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.property-index-container{
    width: 80%;
    margin: 60px auto;
    @include default-font;
}