$light-grey: #eeeeee;
$shadow: #e0e0e0d1;

// Common properties shared by teh login and register forms
.search-container {
    background-size: cover;
    background-position: 0% 50%;
    padding: 10px;
    
    @include default-font;

    .container {
        width: 90%;
        margin: 100px auto;
    }
}

.search-card {
    width: 100%;
    border: none;
    overflow: hidden;
    .fh {
        height: 700px;
    }
}

.search-container {
    background-image: url("/img/backgrounds/login_bg.jpg");
}

.search-result-list-item {
    margin: 10px;
    border: 1px solid $light-grey;
    border-radius: 0.4em;
    box-shadow: 0px 0px 18px $shadow;

    .row {
        .img-col {
            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 0.4em;
            }
        }

        .info-col {
            .property-title {
                font-size: 1.25rem;
                a{
                    text-decoration: none;
                    color: $dark;
                }
            }

        }
    }
}
