.toast-custom {
    @include default-font;
    visibility: hidden;
    min-width: 150px;
    margin-left: 10px;
    color: $light;
    text-align: center;
    border-radius: 2px;
    padding: 1em;
    position: fixed;
    z-index: 999999;
    right: 50px;
    bottom: 30px;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.75s, fadeout 0.75s 2.5s;
    animation: fadein 0.75s, fadeout 0.75s 2.5s;
}



@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0px;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
