// Colors

$black: #111;
$dark: #292929;
$dark-gray: #424242;
$light: #fff;
$light-grey: #eeeeee;
$light-grey-2: #efefef;

// Blue
$theme-blue: #0066ff;
$theme-blue-accent-1: #0047b0;
$light-blue: #e0f6ff;
$light-blue-2: #e8f0fe;
$blue-heavy: #1e1e8b;
$blue-light: #8c8cff;

// Red
$dark-red: #c70000;
$danger-red: #ff0033;
$red: #ca0000;
$red-light: #f59696;

// Green
$green: #0cce6b;
$green-light: #b8ffbf;
$green-dark: #365731;

// Gray
$gray: #eeeeee;
$gray-1: #5e5e5e;
$gray-2: #b9b9b9;

// Gradients
$blue-gradient-1: linear-gradient(125.41deg, #0066ff 0%, #00b2ff 100%);
