// Colors

$black: #111;
$dark: #292929;
$light: #fff;
$light-grey: #eeeeee;

// Blue
$theme-blue: #0066ff;
$theme-blue-accent-1: #0047b0;
$light-blue: #e0f6ff;
$light-blue-2: #e8f0fe;

// Red
$dark-red: #c70000;

// Green
$green: #0cce6b;
$green-light: #b8ffbf;
$green-dark: #365731;

// Gray
$gray: #eeeeee;
$gray-1: #5e5e5e;

// Gradients
$blue-gradient-1: linear-gradient(125.41deg, #0066ff 0%, #00b2ff 100%);
