.text-theme-blue {
  color: #0066ff;
}

.text-dark {
  color: #292929;
}

.text-dark-red {
  color: #c70000;
}

.bg-theme-accent-1 {
  background-color: #0047b0;
}

.emoji {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  width: 100%;
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.btn-custom-success {
  background-color: #b8ffbf;
  color: #365731;
}

.btn-custom-theme-blue {
  background-color: #0066ff;
  color: #fff;
}
.btn-custom-theme-blue:hover {
  color: #e0f6ff;
}

.form-control {
  background-color: #e8f0fe;
}

.condensed-4 {
  letter-spacing: -0.04em;
}

header {
  padding: 0.5rem;
  font-family: Inter, sans-serif;
}
header .row {
  margin: 0px;
}
header .row nav .nav-link,
header .row .account-controls .nav-link {
  padding: 0px 0.5rem;
  color: #292929;
  font-weight: 400;
}
header .row nav .nav-link:hover,
header .row .account-controls .nav-link:hover {
  color: #0066ff;
}
header .row .brand-logo .brand-name {
  color: #111;
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  letter-spacing: -0.04em;
  text-decoration: none;
}

.login-container, .register-container {
  background-size: cover;
  background-position: 0% 50%;
  padding: 10px;
  font-family: Inter, sans-serif;
}
.login-container .container, .register-container .container {
  width: 90%;
  margin: 100px auto;
}

.login-form-card, .register-form-card {
  width: 100%;
  border: none;
  overflow: hidden;
}

.login-graphics, .register-graphics {
  width: 300px;
}

.login-form-info, .register-form-info {
  background: linear-gradient(125.41deg, #0066ff 0%, #00b2ff 100%);
}

.login-form, .register-form {
  padding: 20px;
}
.login-form .form-title, .register-form .form-title {
  font-size: 1.4rem;
}
.login-form form, .register-form form {
  width: 100%;
}
.login-form form .form-group, .register-form form .form-group {
  width: 100%;
}

.login-form-info .login-message {
  font-size: 1.75rem;
  color: #fff;
}

.login-form .form-title {
  font-size: 1.1rem;
}

.login-container {
  background-image: url("/img/backgrounds/login_bg.jpg");
}

.register-container {
  background-image: url("/img/backgrounds/register.jpg");
}

.register-form .form-title p {
  font-size: 0.9rem;
}

.register-form-info .register-message {
  color: #fff;
  font-size: 1rem;
}
.register-form-info .register-message h3 {
  font-size: 2rem;
}
.register-form-info .register-message div {
  width: 58%;
  margin: 10px auto;
}
.register-form-info .register-message div p {
  text-align: justify;
}

footer {
  margin-top: auto;
  padding: 0px;
}
footer .footer-top,
footer .footer-bottom {
  font-family: Inter, sans-serif;
}
footer .footer-top {
  padding-inline: 20px;
  margin-bottom: 60px;
}
footer .footer-top .row {
  margin-top: 50px;
}
footer .footer-top .row div .section-title {
  font-size: 1.25rem;
}
footer .footer-top .row div p {
  text-align: justify;
  font-size: 0.8rem;
}
footer .footer-top .row div .footer-links {
  font-size: 1.125rem;
}
footer .footer-top .row div .footer-links li {
  margin-bottom: 15px;
  font-size: 1rem;
  list-style-type: none;
}
footer .footer-top .row div .footer-links li a {
  color: #292929;
  text-decoration: none;
}
footer .footer-top .row div div .social-icons .social-icon {
  margin: 0px;
  font-size: 1.5rem;
  margin-right: 10px;
  color: #292929;
}
footer .footer-top .row div div .social-icons .social-icon:hover {
  color: #0066ff;
}
footer .footer-bottom {
  height: 60px;
}
footer .footer-bottom p {
  color: #fff;
}
footer .footer-bottom p a {
  text-decoration: none;
}
footer .footer-bottom p a:hover {
  font-weight: 500;
}

textarea {
  resize: none;
}

.property-card {
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  border-radius: 0.3em;
  font-family: Inter, sans-serif;
  overflow: hidden;
}
.property-card .card-header {
  width: 100%;
  height: 210px;
  background-size: cover;
  position: relative;
}
.property-card .card-header .show-panel {
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000095;
  transition: opacity ease-in-out 100ms;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.property-card .card-header .show-panel:hover {
  opacity: 100%;
}
.property-card .card-header .show-panel .show-btn {
  padding: 5px;
  border: 1px solid #eeeeee;
  font-size: 0.85rem;
  border-radius: 0.25em;
  color: #eeeeee;
}
.property-card .card-header .img {
  height: 100%;
  width: 100%;
  z-index: -5;
}
.property-card .card-header .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.property-card .card-header .property-type {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0cce6b;
  color: #fff;
  font-size: 0.65rem;
  padding: 4px;
  border-radius: 0.25em;
}
.property-card .card-header .type {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px;
  width: 100%;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  background: linear-gradient(89.96deg, rgba(0, 0, 0, 0.5) 0.03%, rgba(196, 196, 196, 0) 51.53%);
}
.property-card .card-body {
  padding: 10px;
}
.property-card .card-body .price {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
}
.property-card .card-body .price .blue {
  margin-right: 5px;
}
.property-card .card-body .house-details-1 {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.property-card .card-body .house-details-1 .name {
  font-size: 0.85rem;
  margin-right: 10px;
}
.property-card .card-body .house-details-1 .specs {
  font-weight: 700;
  font-size: 0.75rem;
}
.property-card .card-body .house-details-2 {
  color: #5e5e5e;
  display: flex;
  margin-top: 5px;
}
.property-card .card-body .house-details-2 .address, .property-card .card-body .house-details-2 .size {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.property-card .card-body .house-details-2 .address .material-icons-round, .property-card .card-body .house-details-2 .size .material-icons-round {
  margin-right: 5px;
}
.property-card .card-body .house-details-2 span {
  font-size: 0.8rem;
}

.create-listing {
  padding: 1.5em;
}
.create-listing .form-title {
  font-size: 2rem;
}

.show-page {
  background-color: #eeeeee;
  font-family: Inter, sans-serif;
  padding: 60px 0px;
}

.show-property-container {
  margin: 0px auto;
  width: 90%;
}

.description-card {
  padding: 1.5em;
  margin-inline: 1em;
  background-color: #eeeeee;
  border-radius: 0.4em;
}

.user-info {
  display: flex;
  flex-direction: column;
}
.user-info .profile-avatar {
  width: 30%;
  margin: 0 auto;
}
.user-info .profile-avatar img {
  width: 99%;
  border-radius: 0.5em;
}
.user-info .user-details {
  display: inline-block;
  width: 100%;
}
.user-info .user-details .username {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.property-thumbnail img {
  width: 100%;
  border-radius: 0.4em;
  border: 3px solid #fff;
}

.show-price {
  font-size: 2rem;
}

.address-card {
  background-color: red;
}

.comment-card .card-body .card-title {
  font-size: 1.5rem;
}
.comment-card .card-body .comment-form .form-group input[type=text] {
  border: none;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
}

.map-container {
  height: 100%;
}
.map-container #map {
  position: relative;
  height: 100%;
  cursor: pointer;
  border-radius: 0.4em;
}

/**
    Style Structure
    [selector] {
        [display]
        [display properties: alignment etc..]
        [position: top, right, left, right]
        [size: width, height]
        [background]
        [text color]
        [font]

        &:[event]{
            // same as above
        }
    }
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
