.text-theme-blue {
  color: #0066ff;
}

.text-dark-red {
  color: #c70000;
}

.bg-theme-accent-1 {
  background-color: #0047b0;
}

.emoji {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  width: 100%;
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

.btn-custom-success {
  background-color: #b8ffbf;
  color: #365731;
}

.btn-custom-theme-blue {
  background-color: #0066ff;
  color: #fff;
}
.btn-custom-theme-blue:hover {
  color: #e0f6ff;
}

.form-control {
  background-color: #e8f0fe;
}

.condensed-4 {
  letter-spacing: -0.04em;
}

header {
  padding: 0.5rem;
  font-family: Inter, sans-serif;
}
header .row {
  margin: 0px;
}
header .row nav .nav-link,
header .row .account-controls .nav-link {
  padding: 0px 0.5rem;
  color: #292929;
  font-weight: 400;
}
header .row nav .nav-link:hover,
header .row .account-controls .nav-link:hover {
  color: #0066ff;
}
header .row .brand-logo .brand-name {
  color: #111;
  font-family: Manrope, sans-serif;
  font-size: 2rem;
  letter-spacing: -0.04em;
  text-decoration: none;
}

.login-container, .register-container {
  background-size: cover;
  background-position: 0% 50%;
  padding: 10px;
  font-family: Inter, sans-serif;
}
.login-container .container, .register-container .container {
  width: 90%;
  margin: 100px auto;
}

.login-form-card, .register-form-card {
  width: 100%;
  border: none;
  overflow: hidden;
}

.login-graphics, .register-graphics {
  width: 300px;
}

.login-form-info, .register-form-info {
  background: linear-gradient(125.41deg, #0066ff 0%, #00b2ff 100%);
}

.login-form, .register-form {
  padding: 20px;
}
.login-form .form-title, .register-form .form-title {
  font-size: 1.4rem;
}
.login-form form, .register-form form {
  width: 100%;
}
.login-form form .form-group, .register-form form .form-group {
  width: 100%;
}

.login-form-info .login-message {
  font-size: 1.75rem;
  color: #fff;
}

.login-form .form-title {
  font-size: 1.1rem;
}

.login-container {
  background-image: url("/img/backgrounds/login_bg.jpg");
}

.register-container {
  background-image: url("/img/backgrounds/register.jpg");
}

.register-form .form-title p {
  font-size: 0.9rem;
}

.register-form-info .register-message {
  color: #fff;
  font-size: 1rem;
}
.register-form-info .register-message h3 {
  font-size: 2rem;
}
.register-form-info .register-message div {
  width: 58%;
  margin: 10px auto;
}
.register-form-info .register-message div p {
  text-align: justify;
}

footer {
  margin-top: auto;
  padding: 0px;
}
footer .footer-top,
footer .footer-bottom {
  font-family: Inter, sans-serif;
}
footer .footer-top {
  padding-inline: 20px;
  margin-bottom: 60px;
}
footer .footer-top .row {
  margin-top: 50px;
}
footer .footer-top .row div .section-title {
  font-size: 1.25rem;
}
footer .footer-top .row div p {
  text-align: justify;
  font-size: 0.8rem;
}
footer .footer-top .row div .footer-links {
  font-size: 1.125rem;
}
footer .footer-top .row div .footer-links li {
  margin-bottom: 15px;
  font-size: 1rem;
  list-style-type: none;
}
footer .footer-top .row div .footer-links li a {
  color: #292929;
  text-decoration: none;
}
footer .footer-top .row div div .social-icons .social-icon {
  margin: 0px;
  font-size: 1.5rem;
  margin-right: 10px;
  color: #292929;
}
footer .footer-top .row div div .social-icons .social-icon:hover {
  color: #0066ff;
}
footer .footer-bottom {
  height: 60px;
}
footer .footer-bottom p {
  color: #fff;
}
footer .footer-bottom p a {
  text-decoration: none;
}
footer .footer-bottom p a:hover {
  font-weight: 500;
}

/**
    Style Structure
    [selector] {
        [display]
        [display properties: alignment etc..]
        [position: top, right, left, right]
        [size: width, height]
        [background]
        [text color]
        [font]

        &:[event]{
            // same as above
        }
    }
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
